@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #0c594a;
  --foreground: #ffffff;
  --accent-coral: #f3968e;
  --accent-yellow: #fedf58;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coral: var(--accent-coral);
  --color-yellow: var(--accent-yellow);
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
